@media all and (min-width: 480px) {
    .expired-token-form {
      padding: 20px 0;
    }
  
    .expired-token-form form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

.expired-token-form {
  background-color: rgb(167, 167, 168);
  width: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  opacity: 0.9;
  border-radius: 10px;
}

.expired-token-page-div {
  background-image: url('https://wallpaperaccess.com/full/3717112.jpg');

  /* background-image: url('https://res.cloudinary.com/dm3pamnau/image/upload/v1614673318/static/login-background_p71yn3.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.expired-token-title {
  text-align: center;
  color: rgb(88, 88, 88);
  font-size: 30px;
  font-family: Georgia, Verdana, serif;
  font-weight: bold;
}

.back-to-login-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.back-to-login-label {
  color: rgb(71, 69, 69);
  cursor: pointer;
  margin: 0;
}

.back-to-login-div {
  /* background-color: hotpink; */
  position: relative;
  align-items: center;
  text-align: center;
  /* top: 200px */
}

.back-to-login-label:hover {
  color: rgb(17, 17, 17);
}

.message-expired-token {
  text-align: center;
}