.profile-page {
    width: 80%;
    margin: 0 auto;
    .top-profile {
        text-align: center;
        display: flex;
        justify-content: center;
        height: 325px;

    .photo-name {
        margin-top: 100px;
    }

        h2 {
            font-size: 30px;
        }

        .cover-img {
            height: 240px;
            width: 100%;
            border-radius: 10px;
            background-image: url('../../images/cover.jpg');

           
        }
    }

    hr {
        // width: 90%;
    }

    .content-profile {
        display: flex;
        // background-color: brown;
        height: 20px;
        margin: 0 auto;
        justify-content: space-around;
        margin-bottom: 50px;

        .stylit-posts {
        // width: 600px;
        z-index: 1;
        }

        .about-stylist {
            margin-top: 30px;
            // background-color: blue;
            height: 20px;
            width: 400px;
            z-index: 1;

            .stylist-data {
                margin-bottom: 20px;
                background-color: rgb(240, 235, 235);
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                box-sizing: border-box;
                padding: 5px
            }
            
            .review-component {
                margin-bottom: 20px;
                p {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }

            .stylist-rate {
                // margin: 0 auto;
                display: flex;
                justify-content: space-between;
               
            }

            .about-data {
                margin-top: 10px;
                margin-left: 10px;
            }

            .review {
                display: flex;
            }

            .user-review{
                align-self: center;
            }

            .info-review {
                label {
                    font-size: 15px;
                   margin-left: 5px;
                   margin-right: 10px;
                   align-self: center;
                }
            }
            .all-reviews {
                max-height: 300px;
                overflow: auto;
                ::-webkit-scrollbar {
                    width: 1px;
                  }
                
            }

            .title-about {
                display: flex;
                justify-content: space-between;

                .edit-title {
                    margin-right: 10px;
                    background-image: url('../../images/edit.png');
                    background-size: 25px 25px;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    
                }
            }

            .contact-data {
                display: flex;
                .contact-r {
                    margin-left: 10px;
                    color: rgb(103, 103, 103);
                }
            }

           .text-field {
            background: #FFFFFF;
            border: 1px solid #CACACA;
            font-size: 14px;
            border-radius: 5px;
            line-height: 25px;
            height: 35px;
            width: 250px;
            padding:0 10px;
           }

           .set-time {
               margin-bottom: 10px;
           }
        }
    }

    @media (max-width: 1250px) {
        width: 98%;
    }

    .group-btn {
        display: flex;
        justify-content: space-evenly;
        margin: 20px;

        .save-btn {
            background-color: rgb(197, 255, 197);
            :hover {
                background-color: rgb(142, 223, 142);
            }
        }
    
        .close-btn {
            background-color: rgb(250, 199, 199);
        }
    
        .profile-btn{
            width: 100px;
            height: 30px;
            border: 1px solid rgb(167, 167, 167);
            border-radius: 5px;
        }
    }

    
    
}
.info {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    color: red;

}

.price-text {
    width: 100px !important;
    margin-left: 30px;
}

.lei {
    margin-left: 10px;
}
.p-reviews {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-right: 10px;
    margin-bottom: 0;
}

.btn-div {
    display: flex;
    justify-content: space-around;
    text-align: left;

    button {
        width: 150px;
        height: 30px;
        border: 1px solid rgb(189, 188, 188);
        border-radius: 5px;
    }

    .btn-app {
        width: 250px !important;
    }
}

.show-map {
    position: relative;
    // z-index: 1000;
    width: 370px;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid gray;
    
}