.App {
  text-align: center;
  /* background-color: #8a9ebd; */
  background-color: #E4E9E9
}

.red {
  color: red;
}

.bolt {
  font-weight: bold;
}
/* 
*, ::after, ::before {
  box-sizing: unset;
} */

.page {
  /* display: flex; */
}

body {
  /* background-image: none !important; */
}
