.App {
  text-align: center;
  background-color: #8a9ebd;
}

.red {
  color: red;
}

.bolt {
  font-weight: bold;
}
/* 
*, ::after, ::before {
  box-sizing: unset;
} */

.page {
  /* display: flex; */
}

