.menu {
    /* background-color: #364450; */
    width: 20%;
    /* height: 100%; */
    /* margin-top: 20px !important; */
    /* margin-top: 0px; */
    position: fixed;
    /* border-right: 1px solid #AAB8B8; */
    /* background-size: contain; */
    margin-left: 10px;
    /* position: absolute; */
    /* top: 0px; */
    @media (max-width: 2250px) {
        width: 24% !important;
        margin-left: 30px;
        // right: 2px;
    }
  
  
  
    @media (max-width: 1600px) {
      width: 27% !important;
  }
  @media (max-width: 1450px) {
    width: 25% !important;
  }
  
  @media (max-width: 1320px) {
    width: 24%;
  }
  
  @media (max-width: 1300px) {
    display: none;
  }
    
}

.userNamee {
    text-indent: 5px;
    font-family: arial;
    font-size: 15px;
    padding-left: 10px;
    color: rgb(36, 32, 32);
    /* text-decoration: underline; */
}

.userProfile {
    cursor: pointer;
    padding: 10px;
    /* border-bottom:  1px solid #AAB8B8; */
    text-align:  left;
}

.userProfile:hover {
    /* background-color: #404e5a; */
    background-color: #BBC8C8;
    color: whitesmoke;
    border-radius: 5px;
}

.red {
    color: red;
}

.prog {
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    text-align: left;
    height: 300px;
    position: relative;

    a {
      color: black;
    }

    .nav-prog {
      width: 98%;
    }
}

.progText {
    cursor: pointer;
    padding: 5px;
    /* border-bottom:  1px solid #AAB8B8; */
    text-align:  left;
}
.map-wrapp {
  height:auto;
}

// @media only screen and (max-width: 1000px) {
//     .menu {
//       visibility: hidden;
//     }
//   }
.prog-top {
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  text-align: left;
  // height: 140px;
  position: relative;
  hr {
    margin: 0;
  }

  .nav-prog {
    width: 98%;
  }
}

.userName {
  align-self: center;

  a{
    color: black;
  }
}

.flex-class {
  display: flex;
  background-color: #e6e6e6;
  padding: 20px 10px;
  p {
    align-self: center;
    margin: 0;
  }

  div {
    margin-left: 10px;
    display: flex;
    align-self: center;
  }
}