.menu {
    /* background-color: #364450; */
    width: 400px;
    /* height: 100%; */
    /* margin-top: 20px !important; */
    margin-top: 0px;
    position: fixed;
    border-right: 1px solid rgb(173, 170, 170);
    background-size: contain;
    /* position: absolute; */
    /* top: 0px; */
}

.userNamee {
    text-indent: 5px;
    font-family: arial;
    font-size: 15px;
    padding-left: 10px;
    color: rgb(36, 32, 32);
    /* text-decoration: underline; */
}

.userProfile {
    cursor: pointer;
    padding: 20px;
    border-bottom:  1px solid rgb(173, 170, 170);
    text-align:  left;
}

.userProfile:hover {
    background-color: #404e5a;
    color: whitesmoke;
    border-radius: 5px;
}



@media only screen and (max-width: 1000px) {
    .menu {
      visibility: hidden;
    }
  }