.newPost {
  text-align: center;
  /* margin-top : 70px; */
}

.description {
  text-align: left;
  margin: 10px 15px;
}

.show-emoji-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  position: relative;
  /* max-height: fit-content;  */
  /* display: block; */
  margin: 5px;
  cursor: pointer;
}

textarea:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

.textarea {
  width: 100%;
}

.upload-post-button {
  margin: 10px;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(163, 202, 165, 0.95);
  /* background-color:   #719ECE; */
}

.choose-photo-button {
  margin: 10px;
  width: 40%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(163, 186, 202, 0.95);
  margin-bottom: 0;
}

.choose-photo-button:hover, .upload-post-button:hover {
  background-color:   #71ce7e;
}

.new-post-title {
  text-align: center;
  color: rgb(100, 102, 100);
  font-size: 24px;
  font-family: Georgia, Verdana, serif;
  font-weight: bold;
}

.upload-post-button:disabled {
  pointer-events: none;
  color: #c0c0c0;
  background-color: #ffffff;
  border: 1px solid rgba(255, 156, 156, 0.95);
}

button:focus {
  outline: 0;
}

