.layout-page-div {
    background-image: url('../../images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;


    .layout-form-profile {
      position:relative;
      width: 800px !important;
      height: 100% !important; 
      justify-content: center;
      // max-height: 100%;
      max-width: 99%;
      border-radius: 0 !important;
      top: 42% !important;
      // overflow: scroll;
      overflow: auto;
      margin-top: 70px;
      // top: 30px;

      @media (max-width: 605px) {
        height: 98%;
        top: 0px !important;
      }
    }

    .layout-form {
      background: rgba(167, 167, 168, 0.9) !important;
      
      // opacity: 0.9;
      border-radius: 10px;
      padding: 20px 0;
      text-align: center;

      @media (min-width: 600px) {
        width: 400px;
        position: absolute;
        top: 40%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }

      @media (max-width: 600px) {
        margin: 2px auto;
      }

      form {
        margin: 0 auto;
        max-width: 320px;

        input {
          border-radius: 20px;
        }
      }

      .submit-button {
        border-radius: 30px;
        width: 100%;
        height: 38px;
        background-color: rgb(123, 224, 154);
        color: rgb(56, 58, 56);
        font-size: 18px;
        font-weight: bold;
        border: 1px solid rgb(69, 228, 117);
        margin: 10px 0 0 0;
      }
      
      .submit-button:hover {
        background-color: rgb(69, 228, 117);
      }
      
    }

    hr {
      width: 100%;
      margin: 20px 0 20px 0;
    }

    a {
      color: rgb(87, 85, 85);
    }









    .back-to-login-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    
    .back-to-login-label {
      color: rgb(71, 69, 69);
      cursor: pointer;
      margin: 0;
    }
    
    .back-to-login-div {
      /* background-color: hotpink; */
      position: relative;
      align-items: center;
      text-align: center;
      margin-top: 10px;
      /* top: 200px */
    }
    
    .back-to-login-label:hover {
      color: rgb(17, 17, 17);
    }




    .login-forgot-password:hover {
      color: rgb(0, 0, 0);
      text-decoration: underline;

    }
    
    .sing-up-label {
        padding-left: 5px;
        color: rgb(0, 68, 255);
        cursor: pointer;
    }
    
    .sing-up-label:hover {
      color: rgb(0, 7, 71);
      text-decoration: underline;
    }
    
    .sing-up-div{
      text-align: center;
    }





    .login-forgot-password {
      text-align: center;
      padding-top: 10px;
      cursor: pointer;
      color: rgb(66, 66, 66);
    }
    
    .sing-up-div{
      text-align: center;
      margin-top: 20px;
    }
    
    .login-or-text {
      color: rgb(87, 85, 85);
      text-align: center;
      margin-bottom: 0;
    }
    
    .login-google-button {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: auto;
    }



    .back-to-login-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    
    .back-to-login-label {
      color: rgb(71, 69, 69);
      cursor: pointer;
      margin: 0;
    }
    
    .back-to-login-div {
      /* background-color: hotpink; */
      position: relative;
      align-items: center;
      text-align: center;
      /* top: 200px */
    }
    
    .back-to-login-label:hover {
      color: rgb(17, 17, 17);
    }
    
    .message-expired-token {
      text-align: center;
    }




    .input-form {
      display: flex;
      // width: 80%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      border-radius: 20px;


    }

    .form-group {

    }









    .layout-title {
      text-align: center;
      color: rgb(88, 88, 88);
      font-size: 30px;
      font-family: Georgia, Verdana, serif;
      font-weight: bold;
    }
  }

 