@media all and (min-width: 480px) {
    .Login {
      padding: 20px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

.Login {
  background-color: rgb(167, 167, 168);
  width: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}