@media all and (min-width: 480px) {
    .login-form {
      padding: 20px 0;
    }
  
    .login-form form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

.login-form {
  background-color: rgb(167, 167, 168);
  width: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  opacity: 0.9;
  border-radius: 10px;
}

.login-page-div {
  background-image: url('https://wallpaperaccess.com/full/3717112.jpg');

  /* background-image: url('https://res.cloudinary.com/dm3pamnau/image/upload/v1614673318/static/login-background_p71yn3.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.login-title {
  text-align: center;
  color: rgb(88, 88, 88);
  font-size: 30px;
  font-family: Georgia, Verdana, serif;
  font-weight: bold;
}

.login-register-button {
  position:fixed;
  right: 40px;;
}

.login-button {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 100%;
  height: 38px;
  /* opacity: 100% !important; */
  background-color: rgb(123, 224, 154);
  text-align: center;
  color: rgb(56, 58, 56);
  font-size: 18px;
  /* font-family: Georgia, Verdana, serif; */
  font-weight: bold;
  border: 1px solid rgb(69, 228, 117);
  margin: 30px 0 0 0;
}

.login-button:hover {
  background-color: rgb(69, 228, 117);
}

.input-form {
  border-radius: 20px;
}

.input-form:focus {
  
}

.login-forgot-password {
  color: rgb(87, 85, 85);
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
}

.login-forgot-password:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.sing-up-label {
    padding-left: 5px;
    color: rgb(0, 68, 255);
    cursor: pointer;
}

.sing-up-label:hover {
  color: rgb(0, 7, 71);
  text-decoration: underline;
}

.sing-up-div{
  text-align: center;
}

.back-to-login-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.back-to-login-label {
  color: rgb(71, 69, 69);
  cursor: pointer;
  margin: 0;
}

.back-to-login-div {
  /* background-color: hotpink; */
  position: relative;
  align-items: center;
  text-align: center;
  /* top: 200px */
}

.back-to-login-label:hover {
  color: rgb(17, 17, 17);
}